<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string></string>
	<string>接近途徑地</string>
	<string>到達途徑地</string>
	<string>您已通過途徑地</string>
	<string>接近目的地</string>
	<string>到達目的地</string>
	<string>您已超速行駛</string>
	<string>您已進入+[行政區劃]</string>
	<string>您已偏離引導路線</string>
	<string>在聽到下一條語音提示之前，請沿當前道路行駛</string>
	<string>到達</string>
	<string>通過大橋</string>
	<string>進入隧道</string>
	<string>進入輪渡碼頭</string>
	<string>左側有服務區</string>
	<string>右側有服務區</string>
	<string>請保持直行</string>
	<string>請靠左側行駛</string>
	<string>請靠右側行駛</string>
	<string>直行</string>
	<string>向右前方行駛</string>
	<string>右轉</string>
	<string>向右後方行駛</string>
	<string>右調頭</string>
	<string>左調頭</string>
	<string>向左後方行駛</string>
	<string>左轉</string>
	<string>向左前方行駛</string>
	<string>靠左側行駛</string>
	<string>靠右側行駛</string>
	<string>靠左側行駛</string>
	<string>靠右側行駛</string>
	<string>靠左側行駛</string>
	<string>靠右側行駛</string>
	<string>靠左側行駛</string>
	<string>靠右側行駛</string>
	<string>左轉，進入左側道路</string>
	<string>左轉，進入右側道路</string>
	<string>右轉，進入左側道路</string>
	<string>右轉，進入右側道路</string>
	<string>向左後方行駛，進入左側道路</string>
	<string>向左後方行駛，進入右側道路</string>
	<string>向右後方行駛，進入左側道路</string>
	<string>向右後方行駛，進入右側道路</string>
	<string>左調頭，進入左側道路</string>
	<string>左調頭，進入右側道路</string>
	<string>右磚頭，進入左側道路</string>
	<string>右調頭，進入右側道路</string>
	<string>靠最左側道路行駛</string>
	<string>沿中間道路行駛</string>
	<string>靠最右側道路行駛</string>
	<string>靠最左側道路行駛</string>
	<string>沿中間道路行駛</string>
	<string>靠最右側道路行駛</string>
	<string>靠最左側道路行駛</string>
	<string>沿中間道路行駛</string>
	<string>靠左右側道路行駛</string>
	<string>靠左直行</string>
	<string>靠右直行</string>
	<string>右轉，進入最左側道路</string>
	<string>右轉，進入中間道路</string>
	<string>右轉，進入最右側道路</string>
	<string>左轉，進入最左側道路</string>
	<string>左轉，進入中間道路</string>
	<string>左轉，進入最右側道路</string>
	<string>向右後方行駛，進入最左側道路</string>
	<string>向右後方行駛，進入中間道路</string>
	<string>向右後方行駛，進入最右側道路</string>
	<string>向左後方行駛，進入最左側道路</string>
	<string>向左後方行駛，進入中間道路</string>
	<string>向左後方行駛，進入最右側道路</string>
	<string>右調頭，進入最左側道路</string>
	<string>右調頭，進入中間道路</string>
	<string>右調頭，進入最右側道路</string>
	<string>左調頭，進入最左側道路</string>
	<string>左調頭，進入中間道路</string>
	<string>左調頭，進入最右側道路</string>
	<string>靠最左側道路行駛</string>
	<string>靠最右側道路行駛</string>
	<string>右轉</string>
	<string>向右後方行駛</string>
	<string>右調頭</string>
	<string>左調頭</string>
	<string>向左後方行駛</string>
	<string>左轉</string>
	<string>靠左出高速</string>
	<string>靠右出高速</string>
	<string>靠最左側出高速</string>
	<string>沿中間道路出高速</string>
	<string>靠最右側出高速</string>
	<string>靠最左側出高速</string>
	<string>沿中間道路出高速</string>
	<string>靠最右側出高速</string>
	<string>靠最左側出高速</string>
	<string>沿中間道路出高速</string>
	<string>靠最右側出高速</string>
	<string>靠左直行出高速</string>
	<string>靠右直行出高速</string>
	<string>靠最左側出高速</string>
	<string>靠最右側出高速</string>
	<string>靠左下高架</string>
	<string>靠右下高架</string>
	<string>靠最左側下高架</string>
	<string>沿中間道路下高架</string>
	<string>靠最右側下高架</string>
	<string>靠最左側下高架</string>
	<string>沿中間道路下高架</string>
	<string>靠最右側下高架</string>
	<string>靠最左側下高架</string>
	<string>沿中間道路下高架</string>
	<string>靠最右側下高架</string>
	<string>靠左直行下高架</string>
	<string>靠右直行下高架</string>
	<string>靠最左側下高架</string>
	<string>靠最右側下高架</string>
	<string>直行下高架</string>
	<string>向右前方行駛下高架</string>
	<string>向左前方行駛下高架</string>
	<string>靠左進輔路</string>
	<string>靠右進輔路</string>
	<string>靠左進輔路</string>
	<string>靠右進輔路</string>
	<string>左轉進輔路</string>
	<string>右轉進輔路</string>
	<string>左調頭進輔路</string>
	<string>右調頭進輔路</string>
	<string>靠左進輔路</string>
	<string>靠右進輔路</string>
	<string>靠左進主路</string>
	<string>靠右進主路</string>
	<string>靠左進主路</string>
	<string>靠右進主路</string>
	<string>左轉進主路</string>
	<string>右轉進主路</string>
	<string>左調頭進主路</string>
	<string>右調走進主路</string>
	<string>靠左進主路</string>
	<string>靠右進主路</string>
	<string>靠最左側進主路</string>
	<string>沿中間道路進主路</string>
	<string>靠最右側進主路</string>
	<string>靠最左側進主路</string>
	<string>沿中間道路進主路</string>
	<string>靠最右側進主路</string>
	<string>靠最左側進主路</string>
	<string>沿中間道路進主路</string>
	<string>靠最右側進主路</string>
	<string>靠最左側進主路</string>
	<string>靠最右側進主路</string>
	<string>靠右進主路</string>
	<string>靠左進主路</string>
	<string>靠左進主路</string>
	<string>靠左進主路</string>
	<string>靠右進主路</string>
	<string>靠左直行出主路</string>
	<string>靠右直行出主路</string>
	<string>靠最左側出主路</string>
	<string>沿中間道路出主路</string>
	<string>靠最右側出主路</string>
	<string>靠最左側出主路</string>
	<string>沿中間道路出主路</string>
	<string>靠最右側出主路</string>
	<string>靠最左側出主路</string>
	<string>沿中間道路出主路</string>
	<string>靠最右側出主路</string>
	<string>靠最左側出主路</string>
	<string>靠最右側出主路</string>
	<string>靠左上高架</string>
	<string>靠右上高架</string>
	<string>靠左直行上高架</string>
	<string>靠右直行上高架</string>
	<string>左轉上高架</string>
	<string>右轉上高架</string>
	<string>左調頭上高架</string>
	<string>右調頭上高架</string>
	<string>靠最左側上高架</string>
	<string>沿中間道路上高架</string>
	<string>靠最右側上高架</string>
	<string>靠最左側上高架</string>
	<string>沿中間道路上高架</string>
	<string>靠最右側上高架</string>
	<string>靠最右側上高架</string>
	<string>沿中間道路上高架</string>
	<string>靠最右側上高架</string>
	<string>靠最左側上高架</string>
	<string>靠最右側上高架</string>
	<string>直行上高架</string>
	<string>向右前方行駛上高架</string>
	<string>向左前方行駛上高架</string>
	<string>靠左進高速</string>
	<string>靠右進高速</string>
	<string>靠左直行進高速</string>
	<string>靠右直行進高速</string>
	<string>左轉進高速</string>
	<string>右轉進高速</string>
	<string>左掉頭進高速</string>
	<string>右調頭進高速</string>
	<string>靠最左側進高速</string>
	<string>沿中間道路進高速</string>
	<string>靠最右側進高速</string>
	<string>靠左側進高速</string>
	<string>沿中間道路進高速</string>
	<string>靠最右側進高速</string>
	<string>靠最左側進高速</string>
	<string>沿中間道路進高速</string>
	<string>靠最右側進高速</string>
	<string>靠最左側進高速</string>
	<string>靠最右側進高速</string>
	<string>左轉上坡道</string>
	<string>左轉下坡道</string>
	<string>右轉上坡道</string>
	<string>右轉下坡道</string>
	<string>向左後方行駛上坡道</string>
	<string>向左後方行駛下坡道</string>
	<string>向右後方行駛上坡道</string>
	<string>向右後方行駛下坡道</string>
	<string>左調頭上坡道</string>
	<string>左調頭下坡道</string>
	<string>右調頭上坡道</string>
	<string>右調頭下坡道</string>
	<string>靠左進入左轉專用道</string>
	<string>靠右進入右轉專用道</string>
	<string>靠左進入左轉專用道</string>
	<string>沿中間道路進入右轉專用道</string>
	<string>靠右進入右轉專用道</string>
	<string>靠左進入左轉專用道</string>
	<string>沿中間道路進入右轉專用道</string>
	<string>靠右轉進入右轉專用道</string>
	<string>靠左進入左轉專用道</string>
	<string>沿中間道路進入右轉專用道</string>
	<string>靠右進入右轉專用道</string>
	<string>沿中間道路進入左轉專用道</string>
	<string>沿中間道路進入左轉專用道</string>
	<string>沿中間道路進入左轉專用道</string>
	<string>進入環島請從第一出口駛出</string>
	<string>進入環島請從第一出口左側道路駛出</string>
	<string>進入環島請從第一出口中間道路駛出</string>
	<string>進入環島請從第一出口右側道路駛出</string>
	<string>進入環島請從第二出口駛出</string>
	<string>進入環島請從第二出口左側道路駛出</string>
	<string>進入環島請從第二出口中間道路駛出</string>
	<string>進入環島請從第二出口右側道路駛出</string>
	<string>進度環島請從第三出口駛出</string>
	<string>進入環島請從第三出口左側道路駛出</string>
	<string>進度環島請從第三出口中間道路駛出</string>
	<string>進入環島請從第三出口右側道路駛出</string>
	<string>進入環島請從第四出口駛出</string>
	<string>進度環島請從第四出口左側道路駛出</string>
	<string>進入環島請從第四出口中間道路駛出</string>
	<string>進入環島請從第四出口右側道路駛出</string>
	<string>進入環島請從第五出口駛出</string>
	<string>進入環島請從第五出口左側道路駛出</string>
	<string>進入環島請從第五出口中間道路駛出</string>
	<string>進入環島請從第五出口右側道路駛出</string>
	<string>進入環島請從第六出口駛出</string>
	<string>進入環島請從第六出口中間道路駛出</string>
	<string>進入環島請從第六出口中間道路駛出</string>
	<string>進入環島請從第六出口右側道路駛出</string>
	<string>進入環島請從第七出口駛出</string>
	<string>進入環島請從第七出口左側道路駛出</string>
	<string>進入環島請從第七出口中間道路駛出</string>
	<string>進入環島請從第七出口右側道路駛出</string>
	<string>進入環島請從第八出口駛出</string>
	<string>進入環島請從第八出口左側道路駛出</string>
	<string>進入環島請從第八出口中間道路駛出</string>
	<string>進入環島請從第八出口右側道路駛出</string>
	<string>進入環島請從第九出口駛出</string>
	<string>進度環島請從第九出口左側道路駛出</string>
	<string>進入環島請從第九出口中間道路駛出</string>
	<string>進入環島請從第九出口右側道路駛出</string>
	<string>進入環島請從第十出口駛出</string>
	<string>進入環島請從第十出口左側道路駛出</string>
	<string>進入環島請從第十出口中間道路駛出</string>
	<string>進入環島請從第十出口右側道路駛出</string>
	<string>請駛出環島</string>
	<string>請駛出環島，進入左側道路</string>
	<string>請駛出環島，進入中間道路</string>
	<string>請駛出環島，進入右側道路</string>
	<string>靠左進入隧道</string>
	<string>沿中間道路進入隧道</string>
	<string>靠右進入隧道</string>
	<string>直行進入隧道</string>
	<string>向右前方行駛進入隧道</string>
	<string>右轉進入隧道</string>
	<string>向右後方行駛進入隧道</string>
	<string>右調頭進入隧道</string>
	<string>左調頭進入隧道</string>
	<string>向左後方行駛進入隧道</string>
	<string>左轉進入隧道</string>
	<string>向左前方行駛進入隧道</string>
	<string>靠左上橋</string>
	<string>沿中間道路上橋</string>
	<string>靠右上橋</string>
	<string>直行上橋</string>
	<string>向右前方行駛上橋</string>
	<string>右轉上橋</string>
	<string>向右後方行駛上橋</string>
	<string>右調頭上橋</string>
	<string>左調頭上橋</string>
	<string>向左後方行駛上橋</string>
	<string>左轉上橋</string>
	<string>向左前方行駛上橋</string>
	<string>到達收費站，請走左側收費口</string>
	<string>到達收費站，請走中間收費口</string>
	<string>到達收費站，請走右側收費口</string>
	<string>接近途徑地</string>
	<string>接近途徑地</string>
	<string>接近途徑地</string>
	<string>接近途徑地</string>
	<string>接近途徑地</string>
	<string>靠左進匝道</string>
	<string>靠右進匝道</string>
</array>
</plist>
