<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string></string>
	<string>接近途经地</string>
	<string>到达途经地</string>
	<string>您已通过途经地</string>
	<string>接近目的地</string>
	<string>到达目的地</string>
	<string>您已超速行驶</string>
	<string>您已进入+[行政区划]</string>
	<string>您已偏离引导路线</string>
	<string>在听到下一条语音提示之前，请沿当前道路行驶</string>
	<string>到达</string>
	<string>通过大桥</string>
	<string>进入隧道</string>
	<string>进入轮渡码头</string>
	<string>左侧有服务区</string>
	<string>右侧有服务区</string>
	<string>请保持直行</string>
	<string>请靠左侧行驶</string>
	<string>请靠右侧行驶</string>
	<string>直行</string>
	<string>向右前方行驶</string>
	<string>右转</string>
	<string>向右后方行驶</string>
	<string>右调头</string>
	<string>左调头</string>
	<string>向左后方行驶</string>
	<string>左转</string>
	<string>向左前方行驶</string>
	<string>靠左侧行驶</string>
	<string>靠右侧行驶</string>
	<string>靠左侧行驶</string>
	<string>靠右侧行驶</string>
	<string>靠左侧行驶</string>
	<string>靠右侧行驶</string>
	<string>靠左侧行驶</string>
	<string>靠右侧行驶</string>
	<string>左转,进入左侧道路</string>
	<string>左转,进入右侧道路</string>
	<string>右转,进入左侧道路</string>
	<string>右转,进入右侧道路</string>
	<string>向左后方行驶,进入左侧道路</string>
	<string>向左后方行驶,进入右侧道路</string>
	<string>向右后方行驶,进入左侧道路</string>
	<string>向右后方行驶,进入右侧道路</string>
	<string>左调头,进入左侧道路</string>
	<string>左调头,进入右侧道路</string>
	<string>右调头,进入左侧道路</string>
	<string>右调头,进入右侧道路</string>
	<string>靠最左侧道路行驶</string>
	<string>沿中间道路行驶</string>
	<string>靠最右侧道路行驶</string>
	<string>靠最左侧道路行驶</string>
	<string>沿中间道路行驶</string>
	<string>靠最右侧道路行驶</string>
	<string>靠最左侧道路行驶</string>
	<string>沿中间道路行驶</string>
	<string>靠最右侧道路行驶</string>
	<string>靠左直行</string>
	<string>靠右直行</string>
	<string>右转,进入最左侧道路</string>
	<string>右转,进入中间道路</string>
	<string>右转,进入最右侧道路</string>
	<string>左转,进入最左侧道路</string>
	<string>左转,进入中间道路</string>
	<string>左转,进入最右侧道路</string>
	<string>向右后方行驶,进入最左侧道路</string>
	<string>向右后方行驶,进入中间道路</string>
	<string>向右后方行驶,进入最右侧道路</string>
	<string>向左后方行驶,进入最左侧道路</string>
	<string>向左后方行驶,进入中间道路</string>
	<string>向左后方行驶,进入最右侧道路</string>
	<string>右调头,进入最左侧道路</string>
	<string>右调头,进入中间道路</string>
	<string>右调头,进入最右侧道路</string>
	<string>左调头,进入最左侧道路</string>
	<string>左调头,进入中间道路</string>
	<string>左调头,进入最右侧道路</string>
	<string>靠最左侧道路行驶</string>
	<string>靠最右侧道路行驶</string>
	<string>右转</string>
	<string>向右后方行驶</string>
	<string>右调头</string>
	<string>左调头</string>
	<string>向左后方行驶</string>
	<string>左转</string>
	<string>靠左出高速</string>
	<string>靠右出高速</string>
	<string>靠最左侧出高速</string>
	<string>沿中间道路出高速</string>
	<string>靠最右侧出高速</string>
	<string>靠最左侧出高速</string>
	<string>沿中间道路出高速</string>
	<string>靠最右侧出高速</string>
	<string>靠最左侧出高速</string>
	<string>沿中间道路出高速</string>
	<string>靠最右侧出高速</string>
	<string>靠左直行出高速</string>
	<string>靠右直行出高速</string>
	<string>靠最左侧出高速</string>
	<string>靠最右侧出高速</string>
	<string>靠左下高架</string>
	<string>靠右下高架</string>
	<string>靠最左侧下高架</string>
	<string>沿中间道路下高架</string>
	<string>靠最右侧下高架</string>
	<string>靠最左侧下高架</string>
	<string>沿中间道路下高架</string>
	<string>靠最右侧下高架</string>
	<string>靠最左侧下高架</string>
	<string>沿中间道路下高架</string>
	<string>靠最右侧下高架</string>
	<string>靠左直行下高架</string>
	<string>靠右直行下高架</string>
	<string>靠最左侧下高架</string>
	<string>靠最右侧下高架</string>
	<string>直行下高架</string>
	<string>向右前方行驶下高架</string>
	<string>向左前方行驶下高架</string>
	<string>靠左进辅路</string>
	<string>靠右进辅路</string>
	<string>靠左进辅路</string>
	<string>靠右进辅路</string>
	<string>左转进辅路</string>
	<string>右转进辅路</string>
	<string>左调头进辅路</string>
	<string>右调头进辅路</string>
	<string>靠左进辅路</string>
	<string>靠右进辅路</string>
	<string>靠左进主路</string>
	<string>靠右进主路</string>
	<string>靠左进主路</string>
	<string>靠右进主路</string>
	<string>左转进主路</string>
	<string>右转进主路</string>
	<string>左调头进主路</string>
	<string>右调头进主路</string>
	<string>靠左进主路</string>
	<string>靠右进主路</string>
	<string>靠最左侧进主路</string>
	<string>沿中间道路进主路</string>
	<string>靠最右侧进主路</string>
	<string>靠最左侧进主路</string>
	<string>沿中间道路进主路</string>
	<string>靠最右侧进主路</string>
	<string>靠最左侧进主路</string>
	<string>沿中间道路进主路</string>
	<string>靠最右侧进主路</string>
	<string>靠最左侧进主路</string>
	<string>靠最右侧进主路</string>
	<string>靠右进主路</string>
	<string>靠左进主路</string>
	<string>靠左进主路</string>
	<string>靠左出主路</string>
	<string>靠右出主路</string>
	<string>靠左直行出主路</string>
	<string>靠右直行出主路</string>
	<string>靠最左侧出主路</string>
	<string>沿中间道路出主路</string>
	<string>靠最右侧出主路</string>
	<string>靠最左侧出主路</string>
	<string>沿中间道路出主路</string>
	<string>靠最右侧出主路</string>
	<string>靠最左侧出主路</string>
	<string>沿中间道路出主路</string>
	<string>靠最右侧出主路</string>
	<string>靠最左侧出主路</string>
	<string>靠最右侧出主路</string>
	<string>靠左上高架</string>
	<string>靠右上高架</string>
	<string>靠左直行上高架</string>
	<string>靠右直行上高架</string>
	<string>左转上高架</string>
	<string>右转上高架</string>
	<string>左调头上高架</string>
	<string>右调头上高架</string>
	<string>靠最左侧上高架</string>
	<string>沿中间道路上高架</string>
	<string>靠最右侧上高架</string>
	<string>靠最左侧上高架</string>
	<string>沿中间道路上高架</string>
	<string>靠最右侧上高架</string>
	<string>靠最左侧上高架</string>
	<string>沿中间道路上高架</string>
	<string>靠最右侧上高架</string>
	<string>靠最左侧上高架</string>
	<string>靠最右侧上高架</string>
	<string>直行上高架</string>
	<string>向右前方行驶上高架</string>
	<string>向左前方行驶上高架</string>
	<string>靠左进高速</string>
	<string>靠右进高速</string>
	<string>靠左直行进高速</string>
	<string>靠右直行进高速</string>
	<string>左转进高速</string>
	<string>右转进高速</string>
	<string>左调头进高速</string>
	<string>右调头进高速</string>
	<string>靠最左侧进高速</string>
	<string>沿中间道路进高速</string>
	<string>靠最右侧进高速</string>
	<string>靠最左侧进高速</string>
	<string>沿中间道路进高速</string>
	<string>靠最右侧进高速</string>
	<string>靠最左侧进高速</string>
	<string>沿中间道路进高速</string>
	<string>靠最右侧进高速</string>
	<string>靠最左侧进高速</string>
	<string>靠最右侧进高速</string>
	<string>左转上坡道</string>
	<string>左转下坡道</string>
	<string>右转上坡道</string>
	<string>右转下坡道</string>
	<string>向左后方行驶上坡道</string>
	<string>向左后方行驶下坡道</string>
	<string>向右后方行驶上坡道</string>
	<string>向右后方行驶下坡道</string>
	<string>左调头上坡道</string>
	<string>左调头下坡道</string>
	<string>右调头上坡道</string>
	<string>右调头下坡道</string>
	<string>靠左进入左转专用道</string>
	<string>靠右进入右转专用道</string>
	<string>靠左进入左转专用道</string>
	<string>沿中间道路进入右转专用道</string>
	<string>靠右进入右转专用道</string>
	<string>靠左进入左转专用道</string>
	<string>沿中间道路进入右转专用道</string>
	<string>靠右进入右转专用道</string>
	<string>靠左进入左转专用道</string>
	<string>沿中间道路进入右转专用道</string>
	<string>靠右进入右转专用道</string>
	<string>沿中间道路进入左转专用道</string>
	<string>沿中间道路进入左转专用道</string>
	<string>沿中间道路进入左转专用道</string>
	<string>进入环岛请从第一出口驶出</string>
	<string>进入环岛请从第一出口左侧道路驶出</string>
	<string>进入环岛请从第一出口中间道路驶出</string>
	<string>进入环岛请从第一出口右侧道路驶出</string>
	<string>进入环岛请从第二出口驶出</string>
	<string>进入环岛请从第二出口左侧道路驶出</string>
	<string>进入环岛请从第二出口中间道路驶出</string>
	<string>进入环岛请从第二出口右侧道路驶出</string>
	<string>进入环岛请从第三出口驶出</string>
	<string>进入环岛请从第三出口左侧道路驶出</string>
	<string>进入环岛请从第三出口中间道路驶出</string>
	<string>进入环岛请从第三出口右侧道路驶出</string>
	<string>进入环岛请从第四出口驶出</string>
	<string>进入环岛请从第四出口左侧道路驶出</string>
	<string>进入环岛请从第四出口中间道路驶出</string>
	<string>进入环岛请从第四出口右侧道路驶出</string>
	<string>进入环岛请从第五出口驶出</string>
	<string>进入环岛请从第五出口左侧道路驶出</string>
	<string>进入环岛请从第五出口中间道路驶出</string>
	<string>进入环岛请从第五出口右侧道路驶出</string>
	<string>进入环岛请从第六出口驶出</string>
	<string>进入环岛请从第六出口左侧道路驶出</string>
	<string>进入环岛请从第六出口中间道路驶出</string>
	<string>进入环岛请从第六出口右侧道路驶出</string>
	<string>进入环岛请从第七出口驶出</string>
	<string>进入环岛请从第七出口左侧道路驶出</string>
	<string>进入环岛请从第七出口中间道路驶出</string>
	<string>进入环岛请从第七出口右侧道路驶出</string>
	<string>进入环岛请从第八出口驶出</string>
	<string>进入环岛请从第八出口左侧道路驶出</string>
	<string>进入环岛请从第八出口中间道路驶出</string>
	<string>进入环岛请从第八出口右侧道路驶出</string>
	<string>进入环岛请从第九出口驶出</string>
	<string>进入环岛请从第九出口左侧道路驶出</string>
	<string>进入环岛请从第九出口中间道路驶出</string>
	<string>进入环岛请从第九出口右侧道路驶出</string>
	<string>进入环岛请从第十出口驶出</string>
	<string>进入环岛请从第十出口左侧道路驶出</string>
	<string>进入环岛请从第十出口中间道路驶出</string>
	<string>进入环岛请从第十出口右侧道路驶出</string>
	<string>请驶出环岛</string>
	<string>请驶出环岛,进入左侧道路</string>
	<string>请驶出环岛,进入中间道路</string>
	<string>请驶出环岛,进入右侧道路</string>
	<string>靠左进入隧道</string>
	<string>沿中间道路进入隧道</string>
	<string>靠右进入隧道</string>
	<string>直行进入隧道</string>
	<string>向右前方行驶进入隧道</string>
	<string>右转进入隧道</string>
	<string>向右后方行驶进入隧道</string>
	<string>右调头进入隧道</string>
	<string>左调头进入隧道</string>
	<string>向左后方行驶进入隧道</string>
	<string>左转进入隧道</string>
	<string>向左前方行驶进入隧道</string>
	<string>靠左上桥</string>
	<string>沿中间道路上桥</string>
	<string>靠右上桥</string>
	<string>直行上桥</string>
	<string>向右前方行驶上桥</string>
	<string>右转上桥</string>
	<string>向右后方行驶上桥</string>
	<string>右调头上桥</string>
	<string>左调头上桥</string>
	<string>向左后方行驶上桥</string>
	<string>左转上桥</string>
	<string>向左前方行驶上桥</string>
	<string>到达收费站，请走左侧收费口</string>
	<string>到达收费站，请走中间收费口</string>
	<string>到达收费站，请走右侧收费口</string>
	<string>接近途径地</string>
	<string>接近途径地</string>
	<string>接近途径地</string>
	<string>接近途径地</string>
	<string>接近途径地</string>
	<string>靠左进匝道</string>
	<string>靠右进匝道</string>
</array>
</plist>
