<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>110000</string>
	<string>310000</string>
	<string>440100</string>
	<string>440300</string>
	<string>420100</string>
	<string>210100</string>
	<string>320100</string>
	<string>330200</string>
	<string>500000</string>
	<string>330100</string>
	<string>370200</string>
	<string>510100</string>
	<string>120000</string>
	<string>210200</string>
	<string>320200</string>
	<string>610100</string>
	<string>130100</string>
	<string>140100</string>
	<string>320400</string>
	<string>350200</string>
	<string>220100</string>
	<string>350100</string>
	<string>440400</string>
	<string>441900</string>
	<string>430100</string>
	<string>320500</string>
	<string>330700</string>
	<string>440600</string>
	<string>370100</string>
	<string>350500</string>
	<string>630100</string>
	<string>410100</string>
	<string>340100</string>
	<string>530100</string>
	<string>650100</string>
	<string>330400</string>
	<string>810000</string>
	<string>442000</string>
	<string>441300</string>
	<string>331000</string>
	<string>330300</string>
	<string>330600</string>
</array>
</plist>
