<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zh-hans</key>
	<array>
		<string>玉田县冀唐电力燃料储备有限公司</string>
		<string>黄兴镇防汛砂石储备场</string>
		<string>萍乡市老关生猪专业合作社储备库</string>
		<string>沈阳市政府生猪储备基地场</string>
		<string>昆山市农资有限公司肥药化学品储备仓库</string>
		<string>本溪市动物防疫物资储备中心</string>
		<string>本溪平山动物防疫物资储备中心</string>
		<string>畹町重大动物疫病防控物资储备室</string>
		<string>通辽市哲盟粮油储备有限公司</string>
		<string>内蒙古成品粮油储备供应中心</string>
		<string>金播化肥储备有限责任公司甘旗卡分公司</string>
		<string>达拉特旗动物防疫物资储备供应站(和平街)</string>
		<string>扶余弓棚子储备粮有限公司</string>
		<string>扶余万发储备粮有限公司</string>
		<string>吉林省储备粮扶余新站储备粮有限公司</string>
		<string>潍坊国家粮食储备有限公司</string>
		<string>黑龙江省电力有限公司应急物资储备中心</string>
		<string>木兰国家粮食储备库有限责任公司</string>
		<string>威宁彝族回族苗族自治县血液储备中心</string>
		<string>武汉市蔡甸区粮食储备公司</string>
		<string>兴义市粮食储备公司</string>
		<string>吉盐集团白城食盐储备配送中心</string>
		<string>中药材储备</string>
		<string>达县化肥储备仓库</string>
		<string>徽州区山区、库区粮食应急储备供应点</string>
		<string>吕梁市社会捐助事务管理和救灾物资储备中心</string>
		<string>农业生产资料公司化肥储备库</string>
		<string>芒山路南段粮食储备库斜对面||||||</string>
		<string>永城银丰汽贸</string>
		<string>青海省动物防疫疫苗物资储备库</string>
		<string>云南省宁蒗彝族自治县救助管理站</string>
		<string>南阳安康医院</string>
		<string>吉林省储备粮扶余新站储备粮有限公司工会委员会</string>
	</array>
	<key>en</key>
	<array>
		<string>Yutian Jitang Power Puel Chubei Company Limited</string>
		<string>Huangxingzhen Flood Protection Shashichubei Field</string>
		<string>Pingxiang Laoguanshengzhu Professional Cooperative Storeroom</string>
		<string>Shenyang Government Shengzhuchubei Base Field</string>
		<string>Kunshan Agricultural Company Limited Feiyao Chemicals Chubei…</string>
		<string>Benxi Animal Antiepidemic Materials Chubei Center</string>
		<string>Benxipingshan Animal Antiepidemic Materials Chubei Center</string>
		<string>Wanding Major Animal Yibingfangkong Materials Chubei Room</string>
		<string>Tongliao Zhemeng Cereals Chubei Company Limited</string>
		<string>Inner Mongolia Chengpin Cereals Chubei Medical Supplies</string>
		<string>Jinbo Fertilizer Chubei Limited Liability Company Ganqika Br…</string>
		<string>Dalad Qi Animal Antiepidemic Materials Chubei Service Statio…</string>
		<string>Fuyugongpengzichubeiliang Company Limited</string>
		<string>Fuyu Man Fat Chubeiliang Company Limited</string>
		<string>Jilin Chubeiliangfuyuxinzhanchubeiliang Company Limited</string>
		<string>Weifang National Food Chubei Company Limited</string>
		<string>Heilongjiang Power Company Limited Yingji Materials Chubei C...</string>
		<string>Mulan National Food Storeroom Limited Liability Company</string>
		<string>Weining Yi &amp; Hui Minority Miao Minority Autonomous County Xu…</string>
		<string>Wuhan Caidian Food Chubei Company</string>
		<string>Xingyi Food Chubei Company</string>
		<string>Jiyan Group Baicheng Salt Chubei Distribution Center</string>
		<string>TCM Caichubei</string>
		<string>Daxian Fertilizer Chubei Warehouse</string>
		<string>Huizhouqushanqu 、 Kuqu Food Yingjichubei Service Point</string>
		<string>Lvliang Society Donation Affairs Management And Relief Materials Reserve Center</string>
		<string>Agriculture The Means Of Production Company Fertilizer Store...</string>
		<string>Yongchengyinfeng Auto Mobile Trade</string>
		<string>Qinghai Animal Antiepidemic Yimiao Materials Storeroom</string>
		<string>Yunnan Ninglang Yi Minority Autonomous County Relief Managem…</string>
		<string>Nanyangankang Hospital</string>
		<string>Jilin Chubeiliangfuyuxinzhanchubeiliang Company Limited Labo...</string>
	</array>
	<key>zh-hant</key>
	<array>
		<string>玉田縣冀唐電力燃料儲備有限公司</string>
		<string>黃興鎮防汛砂石儲備場</string>
		<string>萍鄉市老關生豬專業合作社儲備庫</string>
		<string>沈陽市政府生豬儲備基地場</string>
		<string>昆山市農資有限公司肥藥化學品儲備倉庫</string>
		<string>本溪市動物防疫物資儲備中心</string>
		<string>本溪平山動物防疫物資儲備中心</string>
		<string>畹町重大動物疫病防控物資儲備室</string>
		<string>通遼市哲盟糧油儲備有限公司</string>
		<string>內蒙古成品糧油儲備供應中心</string>
		<string>金播化肥儲備有限責任公司甘旗卡分公司</string>
		<string>達拉特旗動物防疫物資儲備供應站(和平街)</string>
		<string>扶余弓棚子儲備糧有限公司</string>
		<string>扶余萬發儲備糧有限公司</string>
		<string>吉林省儲備糧扶余新站儲備糧有限公司</string>
		<string>濰坊國家糧食儲備有限公司</string>
		<string>黑龍江省電力有限公司應急物資儲備中心</string>
		<string>木蘭國家糧食儲備庫有限責任公司</string>
		<string>威寧彜族回族苗族自治縣血液儲備中心</string>
		<string>武漢市蔡甸區糧食儲備公司</string>
		<string>興義市糧食儲備公司</string>
		<string>吉鹽集團白城食鹽儲備配送中心</string>
		<string>中藥材儲備</string>
		<string>達縣化肥儲備倉庫</string>
		<string>徽州區山區、庫區糧食應急儲備供應點</string>
		<string>吕梁市社會捐助事務管理和救灾物資儲備中心</string>
		<string>農業生産資料公司化肥儲備庫</string>
		<string>永城銀豐汽貿</string>
		<string>青海省動物防疫疫苗物資儲備庫</string>
		<string>雲南省寧蒗彜族自治縣救助管理站</string>
		<string>南陽安康醫院</string>
		<string>吉林省儲備糧扶余新站儲備糧有限公司工會委員會</string>
	</array>
</dict>
</plist>
